<div class="dashboard">
  <div class="content">
    <div class="heading">
      <span>TradingLimit</span>
      <a class="white-link logout fl-right" routerLink="/login">
        <span>Logout</span>
        <img src="assets/images/switch.svg" width="20" alt="">
      </a>
    </div>
    <div class="sidebar">
      <div class="sidebar-logo">
        <img src="assets/images/logo.png" alt="" width="240">
      </div>
      <ul class="sidebar-list">
        <li>
          <a class="white-link" routerLink="/dashboard/animals">Animals</a>
        </li>
        <li>
          <a class="white-link" routerLink="/dashboard/users">Users</a>
        </li>
        <li>
          <a class="white-link" routerLink="/dashboard/cars">Cars</a>
        </li>
      </ul>

    </div>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>