html, body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.clearfix {
    clear: both;
}

.pointer {
    cursor: pointer;
}